/*
#window {
    background-color: #000000;
    border: 2px solid;
    border-radius: 2px;
    border-color: #000000;
    opacity: 0.8;
}
 
#outer-box {
}
 
#input {
    background-color: #010101;
    border: 0px solid;
    padding: 8px 12px;
    color: #FFFFFF;
}
 
#scroll {
}
 
#inner-box {
}
 
#img {
}
 
#text {
}
 
#text:selected {
}
 
#entry {
}
 
#entry:selected {
}
 
#unselected {
}
 
#selected {

}
*/